<!DOCTYPE html>
{% load static %}


 <html>
   <div class="headcontainer">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'styling/main.css' %}">
        
    </head>

    <body>
        {% include 'navbar.html' %}

        <!--Flash messages -->

        {% if messages %}

        <ul class="messages">
            {% for message in messages %}
            <p id="messages">{{ message }}</p>
            {% endfor %}
        </ul>

        {% endif %}

        {% block content %}


        {% endblock content %}
    </body>
</div>
</html>